.heading2 {
    padding-top: 30px;
    font-family: verdana, sans-serif;
    text-align: center;
    color: #663399;
    font-size: 50px;
    padding-bottom: 20px;
}

.heading3 {
    padding-top: 30px;
    font-family: verdana, sans-serif;
    text-align: center;
    color: #663399;
    font-size: 30px;
    padding-bottom: 20px;
}

.handle {
    background-color: #FFFACD;
    font-family: sans-serif;
    color: #663399;
    border-radius: 10px; border-color: #663399;
}

.form {
    padding: 15px;
    border-radius: 20px;
    border-color: #663399;
    font-family: sans-serif;
    font-size: 40px;
    background-color: #FF69B4;
}

.submit {
    font-family: sans-serif;
    color: #663399;
    background-color: #FFB6C1;
    border-color: #663399;
}

.submit:hover {
    background-color: plum;
    border-color: #663399;
    color: #FF69B4;
}

.inputBoxes {
    background-color: #FFF0F5;
    font-family: sans-serif;
    border-color: #663399;
    color: #663399;
}

.inputBoxes:focus {
    color: #FF1493;
}

.inputBoxes::placeholder {
    color: #DB7093;
}

.link {
    font-family: verdana, sans-serif;
    color: #663399;
    font-size: 20px;
}

.display {
    border-radius: 10px; border-color: #663399;
    font-family: sans-serif;
    font-size: 20px;
    background-color: #FFF0F5
    color: #DDA0DD;
}

.form2 {
    padding: 15px;
    border-radius: 20px;
    border-color: #663399;
    font-family: sans-serif;
    font-size: 20px;
    background-color: #FFC0CB;
}

.form3 {
    padding: 15px;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 20px;
    background-color: #87CEEB;
}



